//     ___                        _
//    / _ \ _ __ __ _  __ _ _ __ (_)___ _ __ ___  ___
//   | | | | '__/ _` |/ _` | '_ \| / __| '_ ` _ \/ __|
//   | |_| | | | (_| | (_| | | | | \__ \ | | | | \__ \
//    \___/|_|  \__, |\__,_|_| |_|_|___/_| |_| |_|___/
//              |___/
////////////////////////////////////////////////////////////////////////////////////////////////////////

// Dependencies
@import './utils/utils.aux';

@mixin _a-table-row {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  grid-gap: unit-x($sixth);
}

//  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
.a-table {
  display: grid;
  grid-gap: unit-x($sixth);
  overflow-x: scroll;

  &-row,
  &-head,
  &-body {
    width: min-content;
  }

  &-body {
    display: grid;
    grid-gap: unit-x($sixth);
    padding-bottom: unit-x(1);
  }

  &-row {
    @include _a-table-row;

    &:hover {
      .a-table-cell {
        background-color: clr('grey', 'darker');

        &-editable {
          background-color: clr('grey', 'darker');
          border-bottom: unit-x($sixth) solid clr('blue', 'tint-lightest');

          &::after {
            @include txt-label($color: clr('grey', 'darkest'));
            background-color: clr('blue', 'tint-lightest');
            border-radius: 0 0 unit-x($sixth) unit-x($sixth);
            bottom: (line-height('label') + unit-x($sixth) * 2) * -1;
            content: 'Click to edit';
            display: inline;
            font-style: italic;
            left: unit-x($sixth);
            padding: unit-x($sixth) unit-x($third);
            position: absolute;
            z-index: 1;
          }
        }
      }
    }
  }

  &-cell {
    border-radius: unit-x($sixth);
    padding: unit-x($sixth);

    &-xs {
      text-align: center;
      width: unit-x(2);
    }

    &-sm {
      text-align: center;
      width: unit-x(5);
    }

    &-md {
      width: unit-x(9);
    }

    &-lg {
      width: unit-x(11);
    }

    &-xl {
      width: unit-x(15);
    }

    &-label {
      @include txt-label($color: clr('grey', 'white'));
    }

    &-editable {
      border-bottom: unit-x($sixth) solid transparent;
      border-radius: unit-x($sixth);
      cursor: pointer;
      padding: unit-x($sixth);
      position: relative;
    }

    &-being-edited {
      align-items: flex-start;
      border: unit-x($sixth) solid transparent;
      display: flex;
      flex-direction: column;
      gap: unit-x($third);
      padding: unit-x($sixth);

      .a-table-cell-title,
      .a-table-cell-subtitle {
        display: flex;
        gap: unit-x($sixth);
      }

      .a-table-cell-title {
        &::before {
          content: 'Title';
          min-width: unit-x(3);
          background-color: red;
        }
      }

      .a-table-cell-subtitle {
        margin-left: 0;

        &::before {
          content: 'Subtitle';
          min-width: 60px;
        }
      }
    }
  }

  &-head {
    .a-table-row {
      .a-table-cell {
        background-color: clr('grey', 'black');
      }
    }

    .a-table-cell-label {
      @include txt-label($color: clr('grey', 'white'));
    }
  }
}

//  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
.a-record {
  &-block {
    @include column-span(3, 2, 2);

    &.a-record-full-view {
      @include column-span(3, 6, 12);
      @include display-on(hand) {
        @include grid($columns: 3, $offset: 0);
      }
      @include display-on(page, $until: book) {
        @include grid($columns: 6, $offset: 0);
      }
      @include display-on(desk, $until: wide) {
        @include grid($columns: 12, $offset: 0);
      }
    }
  }

  &-container {
    background-color: clr('blue', 'white');
    border-radius: unit-x($sixth);
    cursor: pointer;
    height: min-content;
    position: relative;
  }

  &-cover {
    display: grid;
    grid-template-columns: repeat(16, minmax(4px, 1fr));

    &-pixel {
      padding-bottom: 100%;
    }

    &-missing {
      background-color: clr('blue', 'tint-lightest');
      border-radius: 4px;
      padding-bottom: 100%;
      position: relative;

      &:hover {
        background-color: clr('blue', 'tint-lightest');
      }

      &-message {
        cursor: pointer;
        height: 100%;
        padding-top: 45%;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      &-input {
        display: none;
      }
    }
  }

  &-metadata {
    display: grid;
    grid-gap: unit-x($third);
    margin-top: unit-x($sixth);
  }

  &-name {
    display: block;
    padding: unit-x($quarter);
  }

  &-title {
    @include txt-paragraph($font-weight: font-weight('bold'));
  }

  &-subtitle {
    @include txt-label($text-align: left);
    font-style: italic;
  }

  &-tracklist {
    display: grid;
    grid-gap: unit-x($quarter);
  }

  &-information {
    display: none;
  }

  &-track {
    align-items: center;
    display: grid;
    grid-template-columns: unit-x(1.5) 1fr;

    &-order {
      @include txt-label($color: clr('grey', 'lighter'));
      //grid-column: 1 span;
      grid-row: 2 span;
    }

    &-title {
      @include txt-subheading($color: clr('grey', 'white'));
    }

    &-subtitle {
      @include txt-label($color: clr('grey', 'lighter'), $text-align: left);
    }
  }

  &-full-view {
    .a-record-container {
      @include column-span(3, 2, 4);
      filter: grayscale(0);

      .a-record-cover {
        cursor: initial;
      }

      .a-record-details {
        display: none;
      }

      .a-record-name {
        display: none;
      }
    }

    .a-record-information {
      @include column-span(3, 4, 8);
      display: grid;
      grid-gap: unit-x($quarter);
      height: min-content;

      .a-record-details {
        background-color: transparent;
        margin-top: 0;
      }

      .a-record-name {
        &:hover {
          cursor: initial;
          text-decoration: none;
        }
      }

      .a-record-title {
        @include txt-title($color: clr('grey', 'white'));
      }

      .a-record-subtitle {
        @include txt-heading(
          $color: clr('grey', 'white'),
          $font-weight: font-weight('regular')
        );
      }

      .a-table-cell {
        &-title {
          @include txt-paragraph(
            $color: clr('grey', 'white'),
            $font-weight: font-weight('bold')
          );
        }

        &-subtitle {
          @include txt-label($color: clr('grey', 'light'));
          font-style: italic;
          margin-left: 4px;
        }
      }
    }
  }
}

//  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
.a-mail {
  &-container {
    @include surface-card;
    width: 100%;

    &-header {
      display: flex;
      flex-direction: column;
    }
  }

  &-email {
    @include txt-label;

    &-mark {
      background-color: clr('blue', 'tint-lightest')
    }
  }

  &-title {
    @include txt-subheading;
  }

  &-body {
    display: none;
    &-slice {
      @include txt-paragraph($color: clr('grey', 'lighter'));
      
      &:hover {
        @include txt-paragraph($color: clr('grey', 'darkest'));
      }
    }

    &-link {
      @include txt-link($font-weight: font-weight('bold'))
    }
  }

  &-received {
    @include txt-label($margin-bottom: unit-x($half));
    display: block;
  }

  &-chip {
    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: unit-x($half);
    }
    &-bcc {
      @include chip($background: clr('green', 'tint-lightest'))
    }
    &-attachment {
      @include chip($background: clr('cyan', 'tint-lightest'))
    }
    &-link {
      @include chip($background: clr('lime', 'tint-lightest'))
    }
    &-frequent {
      @include chip($background: clr('yellow', 'tint-lightest'))
    }
    &-highlight {
      @include chip($background: clr('orange', 'tint-lightest'))
    }
  }
}

//  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
.a-mail-list {
  display: flex;
  flex-direction: column;

  .a-mail-container:nth-child(1) {
    margin-bottom: unit-x($half);
  }

  .a-mail-container:not(:nth-child(1)) {
    background-color: transparent;
    box-shadow: none;
    padding: unit-x($quarter);
    
    .a-mail {
      &-container-body,
      &-title {
        display: none;
      }

      &-email {
        @include txt-label;
      }
    }
  }
}

//  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
.a-chart-bar {
  display: grid;
  width: 100%;
  grid-template-rows: min-content 1fr;
  border: 1px solid clr('grey', 'lighter');
  border-radius: unit-x($sixth);
  padding-top: unit-x($quarter);

  &-title {
    @include txt-subheading($text-align: center);
    @include no-select;
  }

  &-entry {
    display: flex;
    flex-direction: column;

    &-bar {
      height: unit-x($half);
      background-color: clr('grey', 'lighter');
      border-radius: 0 unit-x($quarter) unit-x($quarter) 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: unit-x($quarter);
      margin: unit-x($half) 0;
    }

    &-label {
      @include txt-label;
      @include no-select;
    }
  }

  &-checkpoint {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-items: center;
    width: min-content;

    &-marker {
      width: 1px;
      background: black;
    }

    // &-container {}
    // &-label {}
  }
}