@import './utils/utils.aux';

body {
  background-color: clr('grey', 'white');

  h1 {
    color: clr('blue', 'white');
  }
}

.page {
  &-header {
    @include column-span(3, 6, 12);
    background: linear-gradient(45deg, clr('grey', 'lightest') 0%, clr('grey', 'light') 100%);
    border-radius: 0 0 unit-x(1) unit-x(1);
  }

  &-title {
    @include txt-display($margin-bottom: unit-x(1))
  }
}
