<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atom / Surface</title>
    <link rel="stylesheet" href="../../ana.css" />
  </head>
  <!-- -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
  ____              __                
 / ___| _   _ _ __ / _| __ _  ___ ___ 
 \___ \| | | | '__| |_ / _` |/ __/ _ \
  ___) | |_| | |  |  _| (_| | (_|  __/
 |____/ \__,_|_|  |_|  \__,_|\___\___|
                                      
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - -->
  <body id="a-body">
    <script src="../../ana.js"></script>
    <script>
      const A = new Ana()
      const a = A.render()

      A.eId('a-body').prepend(
        a.Testpage(
          /* Elevation */
          a.Test(
            a.Surface(a.Box('No elevation')({ padding: 'dbl' }))({
              elevation: 'non',
            }),
            a.Surface(a.Box('Single elevation')({ padding: 'dbl' }))({
              elevation: 'sgl',
            }),
            a.Surface(a.Box('Double elevation')({ padding: 'dbl' }))({
              elevation: 'dbl',
            }),
            a.Surface(a.Box('Triple elevation')({ padding: 'dbl' }))({
              elevation: 'tpl',
            })
          )({ title: 'Elevation', description: 'Description.' }),
          /* Round */
          a.Test(
            a.Surface(a.Box('No roundness')({ padding: 'dbl' }))({
              round: 'non',
            }),
            a.Surface(a.Box('Single roundness')({ padding: 'dbl' }))({
              round: 'sgl',
            }),
            a.Surface(a.Box('Double roundness')({ padding: 'dbl' }))({
              round: 'dbl',
            }),
            a.Surface(a.Box('Triple roundness')({ padding: 'dbl' }))({
              round: 'tpl',
            })
          )({ title: 'Round', description: 'Description.' })
        )({

          title: 'Atoms / Surface',
          description: 'Description.',
          version: 'v0.5.11',
          implemented: true
        })
      )
    </script>
  </body>
</html>
