:root {
  // ---------------------------------------------------------------------------------------------------
  // Red
  --clr-red-white: #ffdeeb;
  --clr-red-tint-lightest: #ffcadf;
  --clr-red-tint-lighter: #ff7cae;
  --clr-red-tint-light: #ff5596;
  --clr-red-lightest: #f0005d;
  --clr-red-lighter: #d60053;
  --clr-red-light: #bd0049;
  --clr-red-base: #a3003f;
  --clr-red-dark: #8a0035;
  --clr-red-darker: #70002b;
  --clr-red-darkest: #570021;
  --clr-red-shade: #3d0017;
  --clr-red-black: #29000c;
  // ---------------------------------------------------------------------------------------------------
  // Violet
  --clr-violet-white: #fadeff;
  --clr-violet-tint-lightest: #f5b7ff;
  --clr-violet-tint-lighter: #ec7cff;
  --clr-violet-tint-light: #e12eff;
  --clr-violet-lightest: #ab00c9;
  --clr-violet-lighter: #9600af;
  --clr-violet-light: #800096;
  --clr-violet-base: #6a007c;
  --clr-violet-dark: #540063;
  --clr-violet-darker: #3e0049;
  --clr-violet-darkest: #290030;
  --clr-violet-shade: #1e0024;
  --clr-violet-black: #19001f;
  // ---------------------------------------------------------------------------------------------------
  // Blue
  --clr-blue-white: #dde0ff;
  --clr-blue-tint-lightest: #c8bdff;
  --clr-blue-tint-lighter: #9682ff;
  --clr-blue-tint-light: #6547ff;
  --clr-blue-lightest: #2100cf;
  --clr-blue-lighter: #1d00b5;
  --clr-blue-light: #19009c;
  --clr-blue-base: #150082;
  --clr-blue-dark: #110069;
  --clr-blue-darker: #0d004f;
  --clr-blue-darkest: #090036;
  --clr-blue-shade: #050020;
  --clr-blue-black: #04001a;
  // ---------------------------------------------------------------------------------------------------
  // Cyan
  --clr-cyan-white: #e0f5ff;
  --clr-cyan-tint-lightest: #b2e6ff;
  --clr-cyan-tint-lighter: #77d2ff;
  --clr-cyan-tint-light: #3cbfff;
  --clr-cyan-lightest: #0083c4;
  --clr-cyan-lighter: #0072aa;
  --clr-cyan-light: #006191;
  --clr-cyan-base: #005077;
  --clr-cyan-dark: #003f5e;
  --clr-cyan-darker: #002e44;
  --clr-cyan-darkest: #002233;
  --clr-cyan-shade: #001824;
  --clr-cyan-black: #000f0f;
  // ---------------------------------------------------------------------------------------------------
  // Green
  --clr-green-white: #ebfff4;
  --clr-green-tint-lightest: #aeffd2;
  --clr-green-tint-lighter: #87ffbb;
  --clr-green-tint-light: #4cff9a;
  --clr-green-lightest: #00d45c;
  --clr-green-lighter: #00ba51;
  --clr-green-light: #00a146;
  --clr-green-base: #00873b;
  --clr-green-dark: #006e30;
  --clr-green-darker: #005425;
  --clr-green-darkest: #003b1a;
  --clr-green-shade: #002e14;
  --clr-green-black: #001a09;
  // ---------------------------------------------------------------------------------------------------
  // Lime
  --clr-lime-white: #f9ffe6;
  --clr-lime-tint-lightest: #e9ff9f;
  --clr-lime-tint-lighter: #dfff78;
  --clr-lime-tint-light: #d2ff3d;
  --clr-lime-lightest: #c3ff00;
  --clr-lime-lighter: #b0e600;
  --clr-lime-light: #9dcd00;
  --clr-lime-base: #89b300;
  --clr-lime-dark: #759a00;
  --clr-lime-darker: #628000;
  --clr-lime-darkest: #4e6700;
  --clr-lime-shade: #2f3d00;
  --clr-lime-black: #171f00;
  // ---------------------------------------------------------------------------------------------------
  // Yellow
  --clr-yellow-white: #f9f5ec;
  --clr-yellow-tint-lightest: #e9e1be;
  --clr-yellow-tint-lighter: #dfd3a1;
  --clr-yellow-tint-light: #d1bf75;
  --clr-yellow-lightest: #cbb764;
  --clr-yellow-lighter: #c5ae51;
  --clr-yellow-light: #bda53f;
  --clr-yellow-base: #aa9439;
  --clr-yellow-dark: #978333;
  --clr-yellow-darker: #84732c;
  --clr-yellow-darkest: #716226;
  --clr-yellow-shade: #352e13;
  --clr-yellow-black: #1a170a;
  // ---------------------------------------------------------------------------------------------------
  // Orange
  --clr-orange-white: #fff2e5;
  --clr-orange-tint-lightest: #ffd0a8;
  --clr-orange-tint-lighter: #ffbb81;
  --clr-orange-tint-light: #ff9c46;
  --clr-orange-lightest: #ff7b0a;
  --clr-orange-lighter: #ef6f00;
  --clr-orange-light: #d66300;
  --clr-orange-base: #bc5700;
  --clr-orange-dark: #a34b00;
  --clr-orange-darker: #893f00;
  --clr-orange-darkest: #703400;
  --clr-orange-shade: #381900;
  --clr-orange-black: #1a0b00;
  // ---------------------------------------------------------------------------------------------------
  // Grey
  --clr-grey-white: #e4e3e8;
  --clr-grey-tint-lightest: #dfdde3;
  --clr-grey-tint-lighter: #c6c6cd;
  --clr-grey-tint-light: #a6a5b1;
  --clr-grey-lightest: #9b99a8;
  --clr-grey-lighter: #888696;
  --clr-grey-light: #7a788a;
  --clr-grey-base: #62606f;
  --clr-grey-dark: #4a4854;
  --clr-grey-darker: #3e3d46;
  --clr-grey-darkest: #2b2b31;
  --clr-grey-shade: #1c1c21;
  --clr-grey-black: #050506;
}